
@{
    ViewBag.Title = "AddImages";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form  method="post" enctype="multipart/form-data">

    <input type="file" name="fileBase"  class="form-control" />
    <input type="submit" value="Add" class="btn btn-success mt-2" />

</form>
