@using Mvc_Images_Added.Models
@model List<Table_Pictures>
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/responsive gallery/style.css">
</head>
<body>
    <h1>Sertifika Galeri</h1>
    <div class="container">
        @foreach (var item in Model)
        {
            <img src="@item.Pictures">
        }

    </div>

</body>
</html>